{% extends 'topfive/base.html' %}
 
{% block content %}

<div class="about_page">
    <h1>О сайте "TOP FIVE"</h1>
    Данный сайт разрабатывался в качестве практики работы с Django на Python.
    Идея сайта состоит в простой демонстрации турнирных таблиц и
    матчей лучших лиг европы по футболу. Для сбора статистики был
    написан парсер, который берет необходимые данные с другого сайта.
    Команды парсера запускаются через консоль, собраную базу данных можно посмотреть через админку.
    Спасибо что посмотрели мой небольшой проект :)
</div>

{% endblock %}